/* line 11, ../sass/style.scss */
header {
  background: black;
  height: 40px;
  padding: 0;
}
/* line 15, ../sass/style.scss */
header h1 {
  color: white;
  font-size: 31px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

/* line 27, ../sass/style.scss */
#container {
  max-width: 940px;
  min-width: 470px;
  margin: 40px auto 5px auto;
}

/* line 32, ../sass/style.scss */
.item {
  width: 235px;
  height: 235px;
  float: left;
}

/* line 37, ../sass/style.scss */
.overbox {
  background: #ff3402;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 46, ../sass/style.scss */
.textbox {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
/* line 53, ../sass/style.scss */
.textbox h5, .textbox p {
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0 10px 20px;
}
/* line 60, ../sass/style.scss */
.textbox h5 {
  font-style: italic;
  text-decoration: underline;
  margin-top: 16px;
}

/* line 66, ../sass/style.scss */
.facetext {
  width: 200%;
  position: relative;
  display: none;
}

/* line 71, ../sass/style.scss */
.left h5, .left p {
  top: 0;
  left: 100%;
}

/* line 75, ../sass/style.scss */
.right h5, .right p {
  top: 0;
  right: 200%;
}

/* line 83, ../sass/style.scss */
footer {
  max-width: 100%;
  margin: 0 auto;
  height: 35px;
  background: black;
  clear: both;
}
/* line 89, ../sass/style.scss */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px 0 0;
  float: right;
}
/* line 94, ../sass/style.scss */
footer ul li {
  float: left;
}
/* line 96, ../sass/style.scss */
footer ul li a {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
/* line 101, ../sass/style.scss */
footer ul li a img {
  width: 25px;
}
