
///////////////compass///////////////////

$black: #000;
$grey: #7d7d7d;
$white: #fff;
$red: #ff3301;

@mixin breakpoint($point) {
  @if $point == ganzgross {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == gross {
    @media (max-width: 900px) { @content; }
  }
  @else if $point == mittelgross {
    @media (max-width: 685px) { @content; }
  }
  @else if $point == klein {
    @media (max-width: 480px)  { @content; }
  }
}

///////////////fonts///////////////////

@font-face {
	font-family: 'museo_sans_300regular';
	src: url('../fonts/MuseoSans_300-webfont.eot');
	src: url('../fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans_300-webfont.woff') format('woff'),
	url('../fonts/MuseoSans_300-webfont.ttf') format('truetype'),
	url('../fonts/MuseoSans_300-webfont.svg#museo_sans_300regular') format('svg');
	font-weight: normal;
	font-style: normal;

  }

  @font-face {
	font-family: 'museo_sans_500regular';
	src: url('../fonts/MuseoSans_500-webfont.eot');
	src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
	url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
	url('../fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
	font-weight: normal;
	font-style: normal;

  }

  @font-face {
	font-family: 'museo_sans_700regular';
	src: url('../fonts/MuseoSans_700-webfont.eot');
	src: url('../fonts/MuseoSans_700-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans_700-webfont.woff') format('woff'),
	url('../fonts/MuseoSans_700-webfont.ttf') format('truetype'),
	url('../fonts/MuseoSans_700-webfont.svg#museo_sans_700regular') format('svg');
	font-weight: normal;
	font-style: normal;

  }

  @font-face {
	font-family: 'museo_sans_900regular';
	src: url('../fonts/MuseoSans_900-webfont.eot');
	src: url('../fonts/MuseoSans_900-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans_900-webfont.woff') format('woff'),
	url('../fonts/MuseoSans_900-webfont.ttf') format('truetype'),
	url('../fonts/MuseoSans_900-webfont.svg#museo_sans_900regular') format('svg');
	font-weight: normal;
	font-style: normal;

  }

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

///////////////base///////////////////

body{
	color: $white;
	font-family: "museo_sans_700regular",Helvetica,Arial,sans-serif;
}
h1{
	font-style: italic;
	text-transform: uppercase;
	text-decoration: underline;
}
p{
	font-size: 1em;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

///////////////header///////////////////

header{
	background: $black;
	height: 40px;
	padding: 0;
	h1{
		color: $white;
		font-size: 31px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		text-decoration: none;
		text-align: center;
		margin: 0;
	}
}

///////////////main content///////////////

#container {
  max-width: 940px;
  min-width: 300px;
  margin: 40px auto 5px auto;
  overflow: hidden;
  line-height: 0;
img{
    max-width: 100%;
    height: auto;
	  }
}
.item {
  width: 25%;
  @include breakpoint(klein) { width: 50%; }
  float: left;
  position: relative;
  line-height: 0;
}
.item.empty2, .item.empty3{
	 @include breakpoint(klein) { display: none; }
}

.overbox {
  background: $red;
  opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; //ie8
  filter: alpha(opacity=80); //ie6, ie7
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

///////////////desktop text///////////////

.textbox {
  display: block;
  @include breakpoint(gross) { display: none }
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  line-height: 1.2em;
}

.textbox h1 {
  margin: 16px 0;
}

.facetext {
  width: 198%;
  position: relative;
  display: none;
  box-sizing: border-box;
  padding: 10px 20px 0;
}

.left h1, .left p {
  top: 0;
  left: 100%;
}

.right h1, .right p {
  top: 0;
  right: 200%;
}

///////////////modals///////////////

.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
	}
	
.reveal-modal {
	color: $white;
	font-family: "museo_sans_700regular",Helvetica,Arial,sans-serif;
	text-align: left;
	visibility: hidden;
	width: 100%;
	position: absolute;
	top: 0; 
	left: 0;
	z-index: 101;
	h1{
		font-style: italic;
		text-transform: uppercase;
		text-decoration: underline;
		margin: 100px 30% 0;
		@include breakpoint(klein) { margin: 50px 0 10%; }
	}
	p{
		font-size: 1em;
		line-height: 1.2em;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 50px 30%;
		@include breakpoint(klein) { margin: 50px 0 10%; }
	}
}
	
.reveal-modal .close-reveal-modal {
    font-family: 'museo_sans_300regular';
	font-size: 60px;
	line-height: 2em;
	position: absolute;
	top: 0em;
	right: 2em;
	color: #fff;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	cursor: pointer;
	} 

///////////////footer///////////////

footer{
  max-width: 940px;
  margin: 0 auto;
  height: 35px;
  background: black;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 5px 10px 0 0;
		float: right;
		li{
			float: left;
		}
		a{
			display: block;
			width: 25px;
			text-align: center;
			color: $grey;
			text-decoration: none;
			padding: 4px 2px;
		}
	}
}
